.navbar {
   display:flex;
   justify-content: space-around;
   box-shadow: -1px 1px 1.5px -1px black;
}

.nav-logo img{
    position: absolute;
    top: 25px;
    left: 95px;
    display: flex;
    flex-direction: row;
}
.nav-logo p{
    color:black;
    font-size: 28px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 25px;
}

.nav-menu {
    margin-left: -100px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: green;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    margin-left: -120px;
    width: 130px;
    height: 45px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background-color: #f3f3f3;
}

.nav-login-cart button:hover{
    background-color: gray;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}